.button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 8px;

    text-align: center;

    font-family: Noto Sans JP;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;

    &:focus {
        border-radius: 12px;
        border: 2px solid var(--light-border-focused, #CD820A);
    }
}

.large {
    min-width: 136px;
    height: 56px;
    padding: 16px;

    font-size: 16px;
}

.medium {
    min-width: 96px;
    height: 48px;
    padding: 12px 16px;

    font-size: 16px;
}

.small {
    min-width: 80px;
    height: 36px;
    padding: 6px 12px;

    font-size: 16px;
}

.x-small {
    min-width: 72px;
    height: 28px;
    padding: 7px 8px;

    font-size: 14px;
}

.primary {
    background: var(--light-button-normal, #0017C1);

    color: var(--light-text-on-fill, #FFF);

    &:hover {
        background: var(--light-button-hover, #000082);
    }

    &:active {
        background: var(--primitive-colors-sea-1200, #00004F);
    }

    &:disabled {
        background: var(--light-button-disabled, #949497);

        opacity: 0.34;
    }
}

.secondary {
    border: 1px solid var(--light-button-normal, #0017C1);
    background: var(--primitive-colors-white-1000, #FFF);

    color: var(--light-button-normal, #0017C1);

    &:hover {
        border: 1px solid var(--light-button-hover, #000082);
        background: var(--primitive-colors-sea-100, #C5D7FB);
    }

    &:active {
        border: 1px solid var(--primitive-colors-sea-1200, #00004F);
        background: var(--primitive-colors-sea-200, #9DB7F9);
    }

    &:disabled {
        border: 1px solid var(--light-button-disabled, #949497);
        background: var(--primitive-colors-white-1000, #FFF);

        color: var(--light-button-disabled, #949497);
        opacity: 0.34;
    }
}

.tertiary {
    border: none;
    background: none;

    color: var(--light-button-normal, #0017C1);
    text-decoration-line: underline;

    &:hover {
        background: var(--primitive-colors-sea-100, #C5D7FB);
    }

    &:active {
        background: var(--primitive-colors-sea-200, #9DB7F9);
    }

    &:disabled {
        background: none;
        color: var(--light-button-disabled, #949497);

        opacity: 0.34;
    }
}
